.container {
  max-width: ;
  }

 .penguins {
	 max-width: 100%;
	 height: 500px;
	 display: flex;
	 justify-content: space-around;
	 flex-wrap: wrap;
 }
.buttonRow {
	display: flex;
	margin-bottom: 10px;
}
.btn {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}
 .btn img {
	 width: 100%;
 }
 .modal-body {
	display: flex;
    width: 100%;
 }
 .modal-body img {
	 width: 100%;
 }
  